<div class="type-interior ui-page ui-body-b ui-page-active">
    <div class="ui-header ui-bar-b">
        <h1 class="ui-title">add mapping</h1>
    </div><!-- /header -->

    <div class="ui-content ui-body-b">
        <div class="ui-field-contain ui-body ui-br">
            <label for="map_from" class="ui-input-text">From:</label>
            <input type="text" name="map_from" id="map_from" value="" class="ui-input-text ui-body-b ui-corner-all ui-shadow-inset" metro-text-field/>
        </div>
        <div class="ui-field-contain ui-body ui-br">
            <label for="url" class="ui-input-text">To:</label>
            <input type="text" name="map_to" id="map_to" value="" class="ui-input-text ui-body-b ui-corner-all ui-shadow-inset" metro-text-field/>
        </div>
        <div></div>
        <a class="ui-btn ui-btn-inline ui-shadow ui-btn-corner-all ui-btn-up-b">
            <span class="ui-btn-inner ui-btn-corner-all">
                <span class="ui-btn-text">
                    Cancel
                </span>
            </span>
        </a>
        <a class="ui-btn ui-btn-inline ui-shadow ui-btn-corner-all ui-btn-up-b">
            <span class="ui-btn-inner ui-btn-corner-all">
                <span class="ui-btn-text">
                    Save
                </span>
            </span>
        </a>
    </div>
</div>
