<div class="type-interior ui-page ui-body-b ui-page-active">
    <div class="ui-header ui-bar-b">
        <h1 class="ui-title">setup</h1>
    </div><!-- /header -->

    <div class="ui-content ui-body-b">
        <div class="ui-field-contain ui-body ui-br">
            <label class="ui-input-text">Master password:</label>
            <input type="password" value="" class="ui-input-text ui-body-b ui-corner-all ui-shadow-inset" metro-text-field data-ng-model="master_password"/>
        </div>
        <div class="ui-field-contain ui-body ui-br">
            <label class="ui-input-text">Storage URL:</label>
            <input type="text" value="" class="ui-input-text ui-body-b ui-corner-all ui-shadow-inset" metro-text-field data-ng-model="storage_url"/>
        </div>
        <div></div>
        <a class="ui-btn ui-btn-inline ui-shadow ui-btn-corner-all ui-btn-up-b" disable-link data-ng-click="cancel">
            <span class="ui-btn-inner ui-btn-corner-all">
                <span class="ui-btn-text">
                    Cancel
                </span>
            </span>
        </a>
        <a class="ui-btn ui-btn-inline ui-shadow ui-btn-corner-all ui-btn-up-b" disable-link data-ng-click="save">
            <span class="ui-btn-inner ui-btn-corner-all">
                <span class="ui-btn-text">
                    Save
                </span>
            </span>
        </a>
    </div>
</div>
