<div class="type-interior ui-page ui-body-b ui-page-active">
    <div class="ui-header ui-bar-b">
        <h1 class="ui-title">setup</h1>
    </div><!-- /header -->

    <div class="ui-content ui-body-b">
        <div data-ng-hide="firstTime">
            You can change where metadata are stored by entering a new master password (if you want) and enter a different storage URL.
            <br/>
            <br/>
        </div>
        <div class="ui-field-contain ui-body ui-br">
            <label class="ui-input-text" data-ng-hide="firstTime">New Master password:</label>
            <label class="ui-input-text" data-ng-show="firstTime">Master password:</label>
            <input type="password" value="" class="ui-input-text ui-body-b ui-corner-all ui-shadow-inset" metro-text-field="" data-ng-model="masterPassword"/>
        </div>
        <div class="ui-field-contain ui-body ui-br">
            <label class="ui-input-text" data-ng-hide="firstTime">New Storage URL:</label>
            <label class="ui-input-text" data-ng-show="firstTime">Storage URL:</label>
            <input type="text" value="" autocorrect="off" autocapitalize="off" class="ui-input-text ui-body-b ui-corner-all ui-shadow-inset" metro-text-field="" data-ng-model="storageUrl"/>
        </div>
        <div data-ng-show="error">{{errorMessage}}</div>
        <a class="ui-btn ui-btn-inline ui-shadow ui-btn-corner-all ui-btn-up-b" disable-link="" data-ng-click="cancel()" data-ng-hide="firstTime || loading">
            <span class="ui-btn-inner ui-btn-corner-all">
                <span class="ui-btn-text">
                    Cancel
                </span>
            </span>
        </a>
        <a id="save" class="ui-btn ui-btn-inline ui-shadow ui-btn-corner-all ui-btn-up-b" disable-link="" data-ng-click="save()" data-ng-hide="loading || !storageUrl || !masterPassword">
            <span class="ui-btn-inner ui-btn-corner-all">
                <span class="ui-btn-text">
                    Save
                </span>
            </span>
        </a>
        <img src="img/progress-indeterminate-ring-light-small.gif" data-ng-show="loading"/>
    </div>
</div>
